form{
    margin: 1.25em auto;
}

fieldset {
    max-width: 600px;
    padding: 1em;
    background: #f9f9f9;
    border: 0.0625em solid rgb(155, 155, 155);
    border-radius: 0.625em;
    
}
legend{
    font-weight: bold;
    text-align: center;
    border: 0.0625em solid;
    border-radius: 0.625em;
    background-color: #f5f5f5;
    padding: 0.3125em 0.625em;
    
}

form input {
    margin: 0 auto;
    margin-bottom: 1rem;
    background: white;
    border: 0.0625em solid #9c9c9c;
    text-align: center;
}
label{
    display: block;
    padding: 0.4em 1.5em 0.4em 0;
    font-weight: bold;
}

input:focus {
    background-color: rgb(214, 230, 245);
}
textarea{
    width:90%;
}

.formBtn {
    cursor: pointer;
    background: lightgray;
    padding: 0.7em;
    border: 0;
    margin-top: 1em;
    border: 0.0625em solid;
    border-radius: 0.1875em;
    color:#2D3B45;
}

.formBtn:hover{
    background: rgb(155, 155, 155);
    color: #f9f9f9;
}