* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
    /*list-style-type: none;*/
}
h2, h3, h4{
    font-size: 1.25em;
}

/*************BODY***********************/
body {
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: rgb(225, 222, 222);
    color: black;
}

/*************CONTAINER******************/
.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 950px;
}

/*************HEADER***********************/
header {
    max-height: 130px;
    /*min-width: 950px;/***************************************/
    display: flex;
    background: rgb(232,217,20);
    background: linear-gradient(212deg, rgb(218, 212, 217) 0%, rgba(242,242,235,1) 27%, rgba(242,241,237,1) 69%, rgba(210,210,210,1) 100%);
}

.header_text{
    margin: auto;
}

.ccsf_logo {
    margin: 0.625em;
}

#ccsf_logo {
    max-width: 5.875em;
    max-height: 4.875em;
    transition: all .2s ease-in-out;
}

#ccsf_logo:hover {
    transform: scale(1.1);
    opacity: 0.7;
}


/*************MAIN***********************/
main{
    margin: 2.5em 0.625em 2.5em 0.625em;
    display: flex;
    flex-wrap: wrap;/**/
    flex: 1; 
}

/*************MENU***********************/

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    
}

.menu li{
    margin-bottom: 0.625em;
}

/*************CONTENT***********************/

main .content{
    margin-left: 1.875em;
}

.myButton {
    min-width: 150px;/**/
    text-align: center;
    box-shadow: inset 0 0 0.875em 0.0625em #ffffff;
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: #ededed;
	border-radius: 0.375em;
	border: 0.0625em solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	font-size: 0.9375em;
	padding: 0.375em 1.5em;
	text-decoration: none;
	text-shadow: 0 0.0625em 0 #ffffff;
}

.myButton:hover {
	background: linear-gradient(to bottom, #c4c3c3 5%, #ededed 100%);
	background-color: #dfdfdf;
}

.myButton:active {
	position: relative;
	top: 0.0625em;
}

main .hide_extra{
    display: none;
}

.content article{
    max-width: 750px;
}
.content article p {
    line-height: 1.875em;
}

.content #author_photo{
    display: block;
    float: right;
    margin-left: 3.125em;
    margin-bottom: 0.9375em;
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
}
main .external_link{
    margin-top: 0.625em;
	color: #0b00df;
	font-size: 1em;
	font-weight: 500;
	line-height: 1.5625em;
	letter-spacing: 0.04375em;
}

main .external_link:hover{
    color: #6f0297;
}
main p {
    text-align: justify;
}

main .good_links {
    list-style-type: none;
    text-align: justify;
}

main .good_links li{
    margin-top: 0.625em;
}

.assignments_list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.assignments_list li{
    margin: 0.625em auto;
    
}
.assignments_list li a{
    margin: 0 auto;
    display: inline-block;
    min-width: 250px;
    text-align: center;
    border: 0.0625em solid rgb(165, 160, 160);
    border-radius: 0.3125em;
    padding: 0.625em;
    background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: #ededed;
}
.assignments_list li a:hover{
    background: rgb(214, 218, 223);
}


/*************FOOTER***********************/

footer{
    max-height: 130px;
    width: 100%;
    text-align: center;
    background: rgb(232,217,20);
    background: linear-gradient(212deg, rgb(218, 212, 217) 0%, rgba(242,242,235,1) 27%, rgba(242,241,237,1) 69%, rgba(210,210,210,1) 100%);
}

.footer_text h6 {
	color: #323a45;
	font-size: 1.25em;
	font-weight: 800;
	margin-top: 0.625em;
}

.footer_text a {
	margin-top: 0.625em;
	color: #004cd0;
	font-size: 0.875em;
	font-weight: 400;
	line-height: 1.5625em;
	letter-spacing: 0.7px;
}

.footer_text a:hover{
    color: #6f0297;
}
.social_media {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
}

.social_media img{
    transition: all .2s ease-in-out;
}

.social_media img:hover{
    transform: scale(1.2);
}

.social_media img {
	max-width: 30px;
	max-height: 30px;
}

/************* RESPONSIVE DESIGN ***************/

@media only screen and (max-width: 950px){
    nav{
        margin: 0.625em auto;
    }

    main{
        margin: 0.625em;
    }
    main .content{
        margin: 0 auto;
    }
}
    
@media only screen and (max-width: 650px){
    .content #author_photo{
        float: none;
        margin: 1.25em auto;
    }

    
    .header_text{
        padding-right: 0;
        max-width: none;/****/
        margin: auto;
    }

    h1{
        font-size: 1.375em;
        text-align: center;
    }
}