figure{
    max-width: 700px;
    max-height: 900px;
    box-shadow: 0.375em 0.375em 1.25em rgb(20, 20, 20);
    
}

figcaption {
    text-align: center;
}
#meetScreen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.meetup_info{
    margin-top: 2.5em;
}
.meetup_info p {
    max-width: 750px;
    margin-top: 1.25em;
    margin-bottom: 1.5625em;
    text-align: justify;
    line-height: 1.875em;
}



/************* RESPONSIVE DESIGN ***************/

@media only screen and (max-width: 930px){
    nav{
        margin: 0.625em auto;
    }

    main{
        margin: 0.625em;
    }
    main .content{
        margin: 0 auto;
    }

    figure{
        margin-top: 1.25em;
    }


}

@media only screen and (max-width: 650px){

    .header_text{
        padding-right: none;
        max-width: none;/****/
        margin: auto;
    }

    h1{
        font-size: 1.375em;
    }

    figure{
        margin-top: 1.25em;
    }
}