body {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}
main{
    flex: 1;
}

a{
    color: red;
}

a:visited{
    color:blue;
}

h1{
    color:red;
    text-align:center;
    font-size: 2em;
    
}
h2{
    text-align: right;
    font-style: italic;
    color:blue;
}
#bigger_h2{
    font-size: 2.875em;
}
h3{
    text-align: right;
    color: red;
}

p::first-letter{
    font-size: 2.5em;
    font-style: italic;
    font-weight: bold;
}

.inner_p_color{
    color: red;
}

@keyframes table{
    from{ background-color: cyan;}
    to {
        background-color: green;
        color: white;
    }
}

table{
    background-color: cyan;
    padding: 10px;
    border-collapse: separate;
    border-spacing: 10px;
    animation-name: table;
    animation-duration: 8s;
}
td{
    text-align: center;
}
.td_bold{
    font-weight: bold;
}

footer{
    margin-top: 30px;
    text-align: center;
    font-size: 1.125em;
}