* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
    /*list-style-type: none;*/
}
h2, h3, h4{
    font-size: 20px;
}

/*************BODY***********************/
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    background: rgb(225, 222, 222);
    color: black;
}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*
    max-width: 90%;
    margin: 0 auto;*/
    /*max-width: 1200px;*/
}


/*************HEADER***********************/
header {
    min-height: 130px;
    display: flex;
    background: rgb(232,217,20);
    background: linear-gradient(212deg, rgb(218, 212, 217) 0%, rgba(242,242,235,1) 27%, rgba(242,241,237,1) 69%, rgba(210,210,210,1) 100%);
}

.header_text{
    padding-right: 100px;
}

.ccsf_logo {
    margin-top: 15px;
    margin-left: 15px;
}

#ccsf_logo {
    max-width: 95%;
    height: 95%;
    transition: all .2s ease-in-out;
}

#ccsf_logo:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.header_text {
    max-width: fit-content;
    margin: auto;
}

/*************NAV***********************/

.navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.navigation li{
    margin-left: 15px;
}
.myButton {
    box-shadow: inset 0px 0px 14px 1px #ffffff;
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: #ededed;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #777777;
	font-size: 15px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
	background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color: #dfdfdf;
}

.myButton:active {
	position: relative;
	top: 1px;
}

/*************MAIN***********************/
main{
    height: 100%;
    max-width: 90%;
    margin: 0 auto;
    
    /*
    display: flex;
    flex-direction: column;
    flex: 1;
    */
}
main .hide_extra{
    display: none;
}

.main_description{
    
    text-align: center;
    margin: 0 auto;
}
main .external_link{
	color: #0b00df;
	font-size: 16px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0.7px;
}
main .external_link:hover{
    color: #7872e9;
}

figure{
    margin-top: 20px;
    max-width: 800px;
    max-height: 900px;
}
#meetScreen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

article p {
    max-width: 750px;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: justify;
}
/*************FOOTER***********************/

footer{
    max-height: 130px;
    width: 100%;
    /*position: fixed;
    bottom: 0;*/
    text-align: center;
    background: rgb(232,217,20);
    background: linear-gradient(212deg, rgb(218, 212, 217) 0%, rgba(242,242,235,1) 27%, rgba(242,241,237,1) 69%, rgba(210,210,210,1) 100%);
}

.footer_text h6 {
	color: #323a45;
	font-size: 20px;
	font-weight: 800;
	margin-top: 10px;
}

.footer_text a {
	margin-top: 10px;
	color: #004cd0;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.7px;
}

.footer_text a:hover{
    color: #7872e9;
}
.social_media {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social_media img{
    transition: all .2s ease-in-out;
}

.social_media img:hover{
    transform: scale(1.2);
}

.social_media img {
	width: 30px;
	height: 30px;
}