* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

li {
    text-decoration: none;
    list-style-type: none;
}

/*************BODY***********************/
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
    background: rgb(225, 222, 222);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;

}
.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    max-height: 130px;
    display: flex;
    background: rgb(232,217,20);
    background: linear-gradient(212deg, rgb(218, 212, 217) 0%, rgba(242,242,235,1) 27%, rgba(242,241,237,1) 69%, rgba(210,210,210,1) 100%);
    
}

.header_text{
    padding-right: 100px;

}
.ccsf_logo {
    margin-top: 15px;
    margin-left: 15px;

}

#ccsf_logo {
    width: 100px;
    height: 100px;
    transition: all .2s ease-in-out;
}

#ccsf_logo:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.header_text {
    max-width: fit-content;
    margin: auto;
}


.pairs{
    margin: 0 auto;
    margin-top: 40px;
}

/*************MAIN**********************/
.main{
    /*min-height: 800px;*/
    display: flex;
    flex-direction: column;
    flex: 1;
}
/*************NAV***********************/
nav {
    min-height: 25px;
    width: 90%;
    margin-top: 50px;
    margin-left: 50px;
}

#nav_homepage{
    text-align: center;
}

.navigation {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

.navigation li{
    margin-left: 15px;
    
}
.navigation li a{
    font-size: 16px;
    color: black;
}

.myButton {
    margin-bottom: 15px;
    box-shadow: inset 0px 0px 14px 1px #ffffff;
	background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: #ededed;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #777777;
	font-size: 25px;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

.myButton:hover {
	background: linear-gradient(to bottom, #dfdfdf 5%, #a4b0d0 100%);
	background-color: #dfdfdf;
}

.myButton:active {
	position: relative;
	top: 1px;
}

.home_btn{
    display: flex;
    justify-content: center;
}

.btn_return{
    width: 370px;
    height: 50px;
    margin-top: 200px;
}

nav [href].active_link {
    background: rgb(176, 190, 215);
  }
/*************Main***********************/
.description{
   
    margin: 20px auto;
    
    text-align: justify;
}
.description p{
    max-width: 800px;

}
.description .parts{
    color: white;
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    background: black;

    /*background: linear-gradient(#ccd3d8,#9aa0a4);*/
    width: 100px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.description .parts:hover{
    /*background: linear-gradient(#a3bccd,#5f93b6);*/
    opacity: 0.8;
    
}

#draggable{
    width: 100px;
    height: 100px;
    background: black;
    border-radius: 50px;
}
#draggable p {
    max-width: 30px;
    margin-left: 28px;
    padding-top: 14px;
    color: white;
    font-size: 15px;
}
/*************FORMS***********************/

.form{
    margin: 25px auto;
    
}

.form form{
    margin-top: 15px;
}

.dollar_submit{
   margin-top: 20px;
   text-align: center;
}

.dollar_submit button{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100px;
    height: 30px;
}

.txtarea_right{
    text-align: right;
    font-weight: 600;
}
/*************FOOTER***********************/

footer{
    max-height: 130px;
    width: 100%;
    text-align: center;
    background: rgb(232,217,20);
    background: linear-gradient(212deg, rgb(218, 212, 217) 0%, rgba(242,242,235,1) 27%, rgba(242,241,237,1) 69%, rgba(210,210,210,1) 100%);

}

.footer_text h6 {
	color: #323a45;
	font-size: 25px;
	font-weight: 800;
	margin-top: 10px;
}

.footer_text p {
	margin-top: 10px;
	color: #81868e;
	font-size: 14px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: 0.7px;
}

.social_media {
    margin-top: 10px;
    margin-bottom: 10px;
}

.social_media img{
    transition: all .2s ease-in-out;
}

.social_media img:hover{
    transform: scale(1.2);
}

.social_media img {
	width: 30px;
	height: 30px;
}