@media screen and (max-width:1100px) {
    .ideas_real_pictures {
        position: static;
        margin: 0 auto;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .ideas_real_pictures .picture_center {
        position: static;
    }
    
    .ideas_real_pictures .picture_right {
        position: static;
    }

    .ideas_real_pictures img{
        margin: 15px;
       width: 90%;
       height: 90%;
    }

    .wrapper_services {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    
    .wrapper_ideas_realization article {
        max-width:90%;
        padding-top: 40px;
    }

    .wrapper_ideas_realization {
        padding-bottom: 40px;
    }

    .wrapper_text_box {
        max-width: 90%;
    }

    .wrapper_partners img {
        max-width: 23%;
    }

    .wrapper_contact{
        padding-top: 25px;
        max-width: 95%;
    }
}



@media screen and (max-width:1000px) {
    header {
        max-width: 1000px;
        min-height: 670px;
    }

    button {
        width: 130px;
        height: 40px;
    }

    .header_center {
        margin-top: 100px;
        max-width: 80%;
    }
    .text_heading {
        font-size: 25px;
    }
    
    .header_center h1 {
        font-size: 30px;
    }
    
    .header_center .text_paragraph {
        max-width: 450px;
    }
    
    .header_center button {
        margin-top: 35px;
    }

    .carousel-item img {
        width: 1000px;
        height: 670px;
    }

    .wrapper_services {
        padding-top: 40px;
    }

    .wrapper_latest_projects {
        max-width: 85%;
        padding-top: 40px;
    }

    .wrapper_text_box {
        max-width: 90%;
    }

    .mobile_devices {
        min-height: 499px;
    }
    .mobile_dev_img img {
        width: 270px;
        height: 350px;
    }
    .mobile_dev_text {
        margin: 0 auto;
        max-width: 90%;
        padding-top: 25px;
    }

    .wrapper_recent_posts{
        max-width: 90%;
    }
    .wrapper_recent_posts article {
        padding-top: 41px;
    }

    .partners {
        min-height: 359px;
    }
    
    .wrapper_partners {
        max-width: 90%;
        min-height: 359px;
    }
}


@media screen and (max-width:750px) {
    

    .mobile_dev_text_features p::before {
        margin-left: 0px;
    }

    .text_box {
        min-height: 120px;
    }
    
    .wrapper_text_box {
        min-height: 120px;
        max-width: 90%;
    }
    
    
    .text_box_paragraphes .first_p {
        font-size: 20px;
    }
    
    .text_box_paragraphes .second_p {
        font-size: 14px;
    }


    .video_presentation {
        min-height: 350px;
    }
    
    .wrapper_video_presentation {
        max-width: 100%;
        height: 350px;
        padding-top: 0px;
    }

    .circle_play {
        padding-top: 20px;
    }

    .icon_play_overlay {
        top: 35px;
        left: 15px;
    }

    .wrapper_video_presentation h3 {
        margin-top: 24px;
    }

    .wrapper_video_presentation .video_time {
        margin-top: 20px;
    }


    .example_spec {
        margin: 15px;
        width: 270px;
        height: 300px;
    }
    .example_spec_text h5 {
        padding-top: 5px;
    }
    
    .example_spec_text p {
        padding-left: 28px;
    }

}


@media screen and (max-width:500px) {
    header {
        max-width: 500px;
        min-height: 600px;
    }

    button {
        width: 130px;
        height: 40px;
    }

    .header_center {
        margin-top: 160px;
        max-width: 70%;
    }
    .text_heading {
        font-size: 17px;
    }
    
    .header_center h1 {
        font-size: 22px;
    }
    
    .header_center .text_paragraph {
        max-width: 450px;
        font-size: 12px;
    }

    .carousel-item img {
        width: 500px;
        height: 600px;
    }

    nav {
        margin: 0 auto;
        width: 90%;
        display: block;
    }

    nav .logo {
        margin-top: 0px;
        margin-left: -5px;
    }

    .navigation {
        margin-top: 30px;
        text-align: center;
        max-width: 330px;
        margin-left: 50px;

    }
    
    .navigation a {
        font-size: 14px;
        font-weight: 300;
        margin-left: 20px;
    }
    
    .header_icons {
        margin-top: -115px;
        margin-left: 335px;
    }
    
    .header_icons a {
        margin-left: 28px;
    }


}







/****Iphone 6/7/8 375x667px**************/

@media screen and (max-width:375px) {
    header {
        max-width: 375px;
        min-height: 500px;
    }

    button {
        width: 130px;
        height: 40px;
    }

    .header_center {
        margin-top: 130px;
        max-width: 70%;
    }
    .text_heading {
        font-size: 17px;
    }
    
    .header_center h1 {
        font-size: 22px;
    }
    
    .header_center .text_paragraph {
        max-width: 450px;
        font-size: 12px;
    }
    
    button {
        width: 115px;
        height: 33px;
    }

    .carousel-item img {
        width: 375px;
        height: 500px;
    }


    nav {
        margin: 0 auto;
        width: 90%;
        display: block;
    }

    nav .logo {
        margin-top: 0px;
        margin-left: -5px;
    }

    .navigation {
        margin-top: 20px;
        max-width: 330px;
        margin-left: 0;
    }
    
    .navigation a {
        font-size: 14px;
        font-weight: 300;
        margin-left: 20px;
    }
    
    .header_icons {
        margin-top: -105px;
        margin-left: 240px;
    }
    
    .header_icons a {
        margin-left: 28px;
    }


    .text_box {
        min-height: 80px;
    }
    
    .wrapper_text_box {
        min-height: 80px;
        max-width: 90%;
    }
    
    .text_box_paragraphes .first_p {
        font-size: 18px;
        padding-top: 15px;
    }
    
    .text_box_paragraphes .second_p {
        font-size: 14px;
    }


    .wrapper_partners {
        max-width: 80%;
        min-height: 489px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .wrapper_partners img {
        max-width: 35%;
    }

    .wrapper_video_presentation h3 {
        max-width: 90%;
        margin-left: 18px;
    }

    .contact_position {
        margin: 0 auto;
        text-align: center;
        
    }
    .contact_1st_column .logo  {
        margin-left: 33px;
        margin-bottom: 15px;
    }
    .contact_4th_column {
        padding-bottom: 40px;
    }
}