* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none !important;
}

li {
    text-decoration: none !important;
    list-style-type: none !important;
}

h3 {
    color: #555555;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
}

button {
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #6e6358;
    border-radius: 3px;
    background-color: #928575;
    color: #ffffff;
    font-family: "Raleway";
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

.section_descriprion {
    margin: 0 auto;
    margin-top: 24px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Montserrat', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;

}

/********************HEADER***************************/
header {
    max-width: 1920px;
    min-height: 1024px;
    background-blend-mode: multiply;
    background: url(img/header_back_grey.png);
    background-color: rgba(24, 24, 24, 0.7);
}

.wrapper_header {
    position: relative;
    z-index: 10;

}

nav {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

nav .logo {
    margin-top: 40px;
}

nav .logo:hover {
    opacity: 0.8;
}

nav .logo a {
    display: flex;
}

nav .logo p {
    margin-top: 8px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.navigation {
    margin-top: 61px;
    max-width: 637px;
}

.navigation a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    margin-left: 20px;
}

.navigation a:hover {
    color: #c0b199;
}

.header_icons {
    margin-top: 55px;
}

.header_icons a {
    margin-left: 28px;
}

.header_icons a:hover {
    opacity: 0.8;
}


.header_center {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 285px;
}

.text_heading {
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
}

.header_center h1 {
    color: #ffffff;
    font-family: "Raleway";
    font-size: 52px;
    font-weight: 800;
}

.text_paragraph {
    max-width: 562px;
    margin: 0 auto;
    margin-top: 19px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.header_center button {
    margin-top: 52px;
}



.header_slider {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.4;
    z-index: -1;
}

/************MAIN***********/


/*********SERVICES**********/
.services {
    min-height: 370px;
}

.wrapper_services {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 80px;

}

.services_details {
    width: 267px;
    text-align: center;
    margin-left: 10px;
}

.services_details:hover a img {
    opacity: 0.6;
    /*background: rgba(192, 177, 153, 0.5);*/
}


.services_details h3 {
    margin-top: 29px;
    min-width: 195px;
    color: #555555;
    font-family: "Raleway";
    font-size: 22px;
    font-weight: 400;
}

.services_details:hover h3 {
    color: #c0b099;
}

.services_details p {
    margin-top: 19px;
    width: 267px;
    height: 59px;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.services_details hr {
    margin: 0 auto;
    margin-top: 33px;
    width: 70px;
    height: 3px;
    background-color: #f0ede9;
}

.services_details:hover hr {
    background-color: #c0b099;
}

/**********Ideas Realization********/

.ideas_realization {
    min-height: 700px;
    background-color: #fbfaf8;
}

.wrapper_ideas_realization article {
    margin: 0 auto;
    text-align: center;
    padding-top: 83px;
}

.wrapper_ideas_realization p {
    max-width: 757px;
}

.ideas_real_pictures {
    display: flex;
    max-width: 1234px;
    margin: 0 auto;
    position: relative;
    margin-top: 122px;
    box-sizing: border-box;
}

.ideas_real_pictures .picture_left:hover {
    z-index: 16;
    cursor: pointer;
}

.ideas_real_pictures .picture_center {
    position: absolute;
    top: -82px;
    left: 18%;
    z-index: 15;
    cursor: pointer;
}


.ideas_real_pictures .picture_right {
    position: absolute;
    top: 0;
    right: 1%;
    z-index: 14;
}

.ideas_real_pictures .picture_right:hover {
    z-index: 16;
    cursor: pointer;
}

.ideas_real_pictures img {
    max-width: 100%;
}

/**********Text Box*************/

.text_box {
    min-height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #25211f 0%, #49372c 100%);
}

.wrapper_text_box {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.text_box_paragraphes .first_p {
    color: #ffffff;
    font-family: Raleway;
    font-size: 28px;
    font-weight: 400;
}

.text_box_paragraphes .first_p span {
    color: #c0b099;
}

.text_box_paragraphes .second_p {
    color: #5f5856;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
}

.wrapper_text_box p {
    color: white;
}

/*************LATEST PROJECTS*******/

.latest_projects {
    min-height: 1164px;
}

.wrapper_latest_projects {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.wrapper_latest_projects {
    padding-top: 81px;
}

.wrapper_latest_projects p {
    max-width: 757px;
}

.work_types {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.work_types a {
    margin: 10px;
    min-height: 32px;
    width: 120px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 31px;
}

.work_types a:first-of-type {
    width: 70px;
}

.work_types a:hover {
    background-color: #938575;
    color: #ffffff;
}

.work_examples {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.example_spec {
    margin: 15px;
    width: 370px;
    height: 337px;
    outline: 1px solid #e4e4eb;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.example_spec_text {
    background-color: #fbfaf8;
    text-align: left;
    position: relative;
}

.arrow {
    position: absolute;
    top: -18px;
    left: 19px;

}

.arrow_black {
    position: absolute;
    top: -18px;
    left: 19px;
    display: none;

}

.example_spec_text h5 {
    padding-top: 30px;
    padding-left: 28px;
    color: #c0b199;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
}

.example_spec_text p {
    padding-left: 28px;
    padding-bottom: 18px;
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.wrapper_latest_projects button {
    margin-top: 25px;
}

/****Overlay Start*****/

.example_spec_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000A6;
    opacity: 0;
    max-width: 100%;
    max-height: 100%;


}

.overlay_inside {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    margin-top: 106px;
    margin-right: 28px;
}

.overlay_inside a {
    margin-left: 28px;
}

.example_spec:hover .example_spec_overlay {
    opacity: 0.8;
}

.example_spec:hover .example_spec_text {
    background-color: #373331;
}

.example_spec:hover .example_spec_text .arrow {
    display: none;
}

.example_spec:hover .example_spec_text .arrow_black {
    display: inline-block;
}


.example_spec:hover .example_spec_text h5 {
    color: #ffffff;
}

.example_spec:hover .example_spec_text p {
    color: #bdaa92;
}

/****Overlay End******/


/*******Video Presentation*************/

.video_presentation {
    min-height: 705px;
}

.wrapper_video_presentation {
    max-width: 100%;
    height: 705px;
    background-blend-mode: multiply;
    background-image: url(img/video_photo.png), url(img/video_back.png);
    background-repeat: no-repeat;
    background-size: cover;

    margin: 0 auto;
    text-align: center;
    padding-top: 210px;
}

.wrapper_video_presentation h3 {
    color: #ffffff;
    margin-top: 44px;
}

.wrapper_video_presentation .section_descriprion {
    max-width: 560px;
    color: #ffffff;
}

.wrapper_video_presentation .video_time {
    margin-top: 40px;
    color: #c0b099;
}

.circle_play {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.circle_play:hover {
    opacity: 0.8;
}

.icon_play_overlay {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;

}


/********Mobile Devices**********/
.mobile_devices {
    min-height: 695px;
}

.wrapper_mobile_devices {
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 79px;
}

.mobile_dev_text {
    padding-top: 116px;
    margin-left: 31px;
}

.mobile_dev_text .section_descriprion {
    max-width: 657px;
}

.mobile_dev_text_features {
    margin-top: 45px;
}

.mobile_dev_text_features p {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
}

.mobile_dev_text_features p::before {
    content: url(img/arrow_in_circle.png);
    margin-left: 50px;
    margin-right: 29px;
}

/*************COUNTERS************/

.counters {
    min-height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #25211f 0%, #49372c 100%);
}

.wrapper_counters {
    margin: 0 auto;
    max-width: 1200px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.counters_paragraphs {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    width: 160px;
    height: 171px;

}

.counters_paragraphs:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.counters_figure {
    margin-top: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 300;
    line-height: 36px;
}

.counters_types {
    color: #c0b099;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
}

.counters_paragraphs hr {
    margin: 0 auto;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

/************RECENT POSTS***********/
.recent_posts {
    min-height: 753px;
}

.wrapper_recent_posts {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
}

.wrapper_recent_posts article {
    padding-top: 82px;
}

.wrapper_recent_posts article p {
    max-width: 757px;
}

.posts_cover {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.posts_info {
    display: flex;
    flex-direction: column;
    width: 370px;
    max-height: 395px;
    margin-left: 30px;
    position: relative;
    border: 1px solid #f8f8f8;
}


.post_info_text_block {
    text-align: left;
    padding-top: 30px;
    padding-left: 29px;
}

.post_info_text_block p {
    color: #8c8c8c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.post_info_text_block a {
    display: block;
    color: #c0b099;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 33px;
}

.post_info_text_block a::after {
    content: url(img/arrow_right.png);
    margin-left: 5px;
}

.post_info_overlay {
    width: 50px;
    height: 60px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.post_info_overlay .post_date {
    border-radius: 3px 3px 0 0;
    background-color: #393939;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

.post_info_overlay .post_month {
    border-radius: 0 0 3px 3px;
    background-color: #292929;
    margin-top: -16px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.posts_info:hover .post_info_overlay .post_date {
    background-color: #c0b099;
}

.posts_info:hover .post_info_overlay .post_month {
    background-color: #9c8c72;
}

.posts_info:hover .post_info_text_block {
    background-color: #373331;
}

.posts_info:hover .post_info_text_block h5 {
    color: #c0b099;
}

.posts_info:hover .post_info_text_block p {
    color: #ffffff;
}

.posts_info:hover img {
    opacity: 0.9;
}


.posts_arrows {
    margin-top: 40px;
}

.posts_arrows a {
    margin-left: 10px;
}

.posts_arrows a:hover {
    opacity: 0.7;
}


/****************PARTNERS***********/
.partners {
    min-height: 489px;
    background-blend-mode: multiply;
    background: url(img/partners_main.png), url(img/partners_back.png);
    background-repeat: no-repeat;
    overflow: hidden;
}

.wrapper_partners {
    max-width: 80%;
    min-height: 489px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.wrapper_partners img:hover {
    transition-duration: 2s;
    transform: rotate(360deg);
    cursor: pointer;
}


/***************CONTACT***********/
.contact {
    min-height: 508px;
    background-blend-mode: multiply;
    background-color: #1f1f1f;
}

.wrapper_contact{
    max-width: 90%;
    min-height: 508px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact_position {
    margin-left: 42px;
}

.contact_paragr {
    max-width: 260px;
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.contact_1st_column {
    padding-top: 80px;
}

.contact_1st_column .logo a {
    display: flex;
}

.contact_1st_column .logo p {
    margin-top: 8px;
    color: #ffffff;
    font-family: Raleway;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.contact_1st_column .cont_btn {
    color: #d1d1d1;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.contact_1st_column .cont_btn:hover {
    opacity: 0.8;
}

.contact_1st_column .cont_btn::after {
    content: url(img/arrow_right.png);
    margin-left: 10px;
}

/*second column*/

.contact_2nd_column {
    padding-top: 108px;
}

.contact_position h6 {
    color: #ffffff;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
}

.contact_position hr {
    width: 270px;
    height: 1px;
    background-color: #292929;
}

.contact_position .column_date {
    color: #393939;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.contact_2nd_column .spec_color {
    color: #ffffff;
}

.contact_2nd_column .spec_par {
    color: #c0b099;
} 

.contact_2nd_column .contact_paragr {
    margin-top: -20px;
}

/**THIRD COLUMN*********/
.contact_3rd_column {
    padding-top: 107px;
}

.contact_3rd_column .column_date {
    margin-top: -20px;
}
#waxom {
    color: #6bbef1;
}

#envato {
    color: #6bbef1;
}

#bit {
    color: #939393;
}

/******4 Column*******/
.contact_4th_column h6 {
    padding-top: 107px;
}

.cont_pict {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.cont_pict img {
    width: 130px;height: 98px;
    margin: 5px;
}

.cont_pict img:hover {
    opacity: 0.8;
}




/****************Footer*************/
footer {
    min-height: 111px;
    background-blend-mode: multiply;
    background-color: #181818;
}

.wrapper_footer {
    margin: 0 auto;
    max-width: 80%;
    height: 111px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;

}

.wrapper_footer a {
    color: #555555;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
}

.wrapper_footer a:hover {
    color: #ffffff;
}

.wrapper_footer a .words_coloring {
    color: #939393;
}

.wrapper_footer a .words_coloring:hover {
    color: #ffffff;
}

.wrapper_footer a .slash {
    color: #292929;
}

.wrapper_footer a .copy_faq {
    color: #c0b099;
}

.wrapper_footer a .copy_faq:hover {
    color: #ffffff;
}