body{
	font-family: 'Montserrat', sans-serif;
	
}

*{
	margin: 0;
	padding: 0;
}

.wrapper{
	width: 1366px;
	margin: 0 auto;
	box-sizing: border-box;
}

.order-btn:hover{
	opacity: 0.7;
}

 /*--HEADER*/
.header-container{
	height: 800px;
	background-image: url(img/slider-img.jpg);
	box-sizing: border-box;
	
}
/*********HEADER-TOP-LINE**********/
.header-top{
	display: flex;
}

.header-logo .logo{
	margin-top: 63px;
	margin-left: 85px;
	margin-bottom: 5px;
	
}
.header-logo .logo:hover{
	opacity: 0.8;
}

nav .header-menu{
	width: 490px;
	height: 10px;
	margin-left: 382px;	
	margin-right: 211px;
	margin-top: 67px;
	margin-bottom: 13px;
	display: flex;
	justify-content: center;
}

nav .header-menu li{
	list-style-type: none;
	
}

.header-nav{
	color:  #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 0px 20px;
    border-bottom: 2px solid transparent;
}

.header-nav.active,
.header-nav.active:hover{
    color: #212121;
    font-weight: bold;
    border-bottom-color: #212121;
}	

.header-nav:hover{
	border-bottom-color: rgba(204, 204, 204, 0.5)
}

.header-search{
	display: flex;
	margin-top: 67px;
	margin-left: -140px;
}	

.search-loop{
	width: 23px;
	height: 23px;
	background: url('img/search.png') no-repeat;
	cursor: pointer;
}

.search-loop:hover{
	opacity: 0.5;
}


/**************HEADER-MAIN PART****************/


.header-text h3{
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    padding-top: 288px;
    padding-left: 98px;
    
}

.header-text h1{
    color: #212121;
    font-size: 60px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    margin-left: 98px;
}

.header-text p{
     width: 470px;
     color: #6c6c6c;
     font-size: 14px;
     font-weight: 300;
     line-height: 24px;
     margin-top: 20px;
     margin-left: 98px;
}

.header-text a{
	 display: block;
     width: 212px;
     height: 45px;
     box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
     border-radius: 23px;
     background: #ffffff;
     text-decoration: none;
     text-align: center;
     line-height: 45px;
     font-size: 18px;
     font-weight: 700;
     text-transform: uppercase;
     color: #212121;
     letter-spacing: 3.6px;
     margin-top: 20px;
     margin-left: 98px;
}

.header-text a:hover{
	background: #ffffff url("img/arrow.png") no-repeat 173px 16px;
	}

.navi{
	width: 120px;
	height: 40px;
	color: #212121;
	opacity: 0.2;
	margin-left: 623px;
	margin-top: 100px;
}

.navi:active{
	background: url("img/active.png");
	width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #212121;
    margin-left: 663px;
    opacity: 1;
}


/*SECTION-FEATURED. FEATURED PRODUCT*/

.section-featured{
	height: 610px;
	width: 1366px;
	box-sizing: border-box;
}

.featured-product{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.tab-control{
	height: 49px;
	margin-top: 120px;
	margin-left: 107px;
	border-bottom: 1px solid #6c6c6c;
}
.tab-control a:hover{
	opacity: 0.8;
}

#feat{
    width: 158px;
    height: 27px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}

#feat:active{
	border-bottom: 3px solid #212121;
	padding-bottom: 3px;
}

#new{
    width: 80px;
    height: 25px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    margin-left: 31px;
    text-decoration: none;
}

.btn-ghost{
	margin-top: 138px;
	margin-right: 118px;
}
.btn-ghost a{
	width: 158px;
    height: 13px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 1.6px;
    text-decoration: none;
}
.btn-ghost a:after{
	content: url(img/arrow.png);
	padding-left: 12px;
}

.btn-ghost a:hover{
	opacity: 0.8
}

.products-body{
	display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.products-list{
	position: relative;
    width: 270px;
    height: 270px;
    outline: 1px solid #e4e4eb;
    overflow: hidden;
}

.products-list:hover{
	outline: 1px solid #a1a1a2;
}
.products-list:hover .product-list-overlay {
    opacity: 1;
}

.product-list-overlay{
	display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: absolute;
    padding: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background: rgba(252, 252, 252, 0.85);
    text-align: center;
    text-decoration: none;
    opacity: 0;
}

.product-list-overlay:before{
	content: '';
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 auto 1em;
    border-radius: 100%;
    background-image: url(img/icon-hover.png);
    background-color: #fff;
    background-position: 21px 16px;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.15);
}

.product-list-title {
     width: 100%;
     font-size: 1.2em;
     font-weight: bold;
     color: #212121;
     margin-bottom: 1.3em;        
}
.product-list-text {
     width: 100%;
     color: #6c6c6c;
     line-height: 1.7em;
  }


/*PROMO-PRODUCT*/

.section-promo-product{
	display: flex;
	box-sizing: border-box;	
}

.promo1{
	width: 683px;
	height: 683px;
	background: url('img/promo-img1.jpg');
	
}

.promo2{
	width: 683px;
	height: 683px;
	background-image: url('img/promo-img2.jpg');
	
}

.promo1 h3, .promo2 h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
    padding-top: 228px;
    padding-left: 51px;
}

.promo1 h1, .promo2 h1{
    color: #212121;
    font-size: 33px;
    font-weight: 600;
    padding-left: 52px;
}

.promo1 p, .promo2 p{
    width: 374px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    padding-top: 15px;
    padding-left: 50px;
}

.promo1 a, .promo2 a{
	display: block;
	width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    margin-top: 20px;
    margin-left: 59px;

}

.promo1 a:hover, .promo2 a:hover{
	background: #ffffff url("img/arrow.png") no-repeat 173px 16px;
	}


/*TRENDING*/
.trending{
	height: 1109px;
}

.trending-details{
	height: 1109px;
}
.trending-title{
	display: flex;
	justify-content: space-between;
	
}

.trending-title a:hover{
	opacity: 0.8;
}

.trending-title-text{
    width: 352px;
	padding-top: 119px;
	padding-left: 98px;
	
}

.trending-title-text {
	color: #212121;
    font-size: 35px;
    font-weight: 700;
    text-decoration: none;
}

.btn-ghost2{
	margin-top: 138px;
	margin-right: 118px;
}
.btn-ghost2 {
	width: 195px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    text-decoration: none;
}
.btn-ghost2:after{
	content: url(img/arrow.png);
	padding-left: 12px;
}

	

.trending-products{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.trending-products-details{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 34px;
	margin-left: 68px;
	margin-right: 68px;
	
}

#trending-products-details-catalog{
	margin-top: -34px;
}
.trending-products-details a{
	width: 370px;
	height: 370px;
	margin: 20px;
	
}

.trending-products-details a:hover{
	opacity: 0.8;
}

/*HOT-DEALS*/

.hot-deals{
	
}

.hot-deals-details{
	
	background: url('img/hot-deal-slider.jpg');
	
}

.hot-deals-details h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
    padding-top: 287px;
    padding-left: 99px;
}

.hot-deals-details h1{
    color: #212121;
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    padding-left: 106px;
}

.hot-deals-details p{
    width: 458px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 98px;
}

.hot-deals-details a{
	display: block;
     width: 212px;
     height: 45px;
     box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
     border-radius: 23px;
     background: #ffffff;
     text-decoration: none;
     text-align: center;
     line-height: 45px;     
     font-size: 18px;
     font-weight: 700;
     text-transform: uppercase;
     color: #212121;
     letter-spacing: 3.6px;
     margin-top: 20px;
     margin-left: 98px;
}

.hot-deals-details a:hover{
	background: #ffffff url("img/arrow.png") no-repeat 173px 16px;
}

.navi1{
	width: 120px;
	height: 40px;
	color: #212121;
	opacity: 0.2;
	margin-left: 623px;
	margin-top: 226px;
}

.navi1:active{
	background: url("img/active.png");
	width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #212121;
    margin-left: 663px;
    opacity: 1;
}


/*EXCLUSIVE*/

.exclusive{
	height: 811px;
	box-sizing: border-box;
	display: flex;
	
}

.exclusive-details{
	display: flex;
	margin-top: 120px;
	margin-left: 98px;
	
}

.exclusive-details-text{
	height: 570px;
	width: 570px;
	background: url('img/exclusive-1.jpg');
}


.exclusive-details-text h3{
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    color: #1e88e5;
    letter-spacing: 1.8px;
    padding-top: 186px;
    padding-left: 31px;
}

.exclusive-details-text h1{
    color: #212121;
    font-size: 33px;
    font-weight: 600;
    margin-left: 32px;
}

.exclusive-details-text p{
    width: 332px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    margin-top: 20px;
    margin-left: 30px;
}

.exclusive-details-text a{
	display: block;
	width: 212px;
    height: 46px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 3.6px;
    margin-top: 20px;
    margin-left: 34px;

}

.exclusive-details-text a:hover{
	background: #ffffff url("img/arrow.png") no-repeat 173px 16px;
	}
	
.exclusive-details-photos{
	width: 570px;
	height: 570px;
	display: flex;
	margin-left: 30px;
}
.exclusive-details-photos-types{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: -30px;		
}

.exclusive-details-photos-types a:hover{
	opacity: 0.8;
}

/*MOBILE-APP*/

.mobile-app{
	height: 516px;
}

.mobile-app-details{
	height: 516px;
	background: url('img/mobile-app.jpg');
}


.mobile-app-details h3{
    width: 150px;
    height: 13px;
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
    text-transform: uppercase;
    color: #6c6c6c;
    letter-spacing: 1.8px;
    padding-top: 125px;
    padding-left: 99px;
}

.mobile-app-details h1{
    width: 500px;
    height: 116px;
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    line-height: 72px;
    text-transform: uppercase;
    margin-top: 22px;
    margin-left: 106px;
}

.mobile-app-details p{
    width: 450px;
    height: 21px;
    color: #6c6c6c;
    font-size: 22px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 26px;
    margin-left: 99px;
}

.app-google{
	margin-left: 98px;
	margin-top: 33px;
}


/*FOOTER*/

.footer{
	height: 384px;
	background: #f7f7f7;
}

.footer-details{
	padding-top: 120px;
	padding-left: 99px;
}

.footer-details-columns{
	display: flex;
	justify-content: space-between;
}


.use-info-col-direction{
	display: flex;
	width: 100%;
	padding-top: 25px;
}

#use-info-col2{
	margin-left: 103px;
}



.footer-details-columns h3{
	color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.footer-details-columns p{
	color: #212121;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-top: 24px;
}

.contact-us p{
	width: 237px;
	height: 102px;
}

.footer-details-columns a{
	text-decoration: none;
	color: #212121;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}


#intouch-paragraph{
	width: 375px;
	height: 36px;
}

.intouch input{
	height: 48px;
    
}
.input-email{
	width: 363px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    margin-top: 26px;
    padding-left: 19px;
    
}

.button-style{
	width: 48px;
	height: 48px;
	border: 1px solid #d9dee1;
    background-color: #ffffff;
    background: url('img/plane.png') no-repeat 50% 50%;
	cursor: pointer;
	vertical-align: middle;
	position: relative;
	left: -54px;
	top:1px;
	
}

.button-style:hover{
	opacity: 0.7;
}

.footer-details-string{
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	
}

.copyright{
	width: 375px;
    height: 9px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}

.social-media{
	width: 129px;
    height: 28px;
    
}

.privacy{
	width: 358px;
    height: 12px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-right: 85px;
}







/******************FILE PRODUCT-DETAILS****************
******************FILE PRODUCT-DETAILS****************
******************FILE PRODUCT-DETAILS****************
******************FILE PRODUCT-DETAILS****************
******************FILE PRODUCT-DETAILS****************/

.section-product-type-links{
	height: 70px;
	background-color: #f4f4f4;
	margin-top: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.links-order{
	width: 647px;
	height: 13px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.links-order li{
	list-style-type: none;
}

.links-order li a{
	text-decoration: none;
	color: #6c6c6c; 
	font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.links-order li a:hover{
	color: #212121;
}

/************************Section Product Slider*************/

.section-product-slider{
	margin-top: 72px;
	margin-left: 98px;
	margin-right: 98px;
	display: flex;
	flex-direction: row;
}

.product-slider-gallery{
	display: flex;
	flex-direction: column;
}

.product-slider-main-picture{
	width: 570px;
	height: 570px;
}

.product-slider-control{
	width: 230px;
	height: 71px;
	display: flex;
	flex-direction: row;
	margin-left: 150px;
}

.product-slider-control li{
	list-style-type: none;
}

.product-slider-description{
	
	margin-left: 56px;
}
.product-slider-text{
	height: 565px;
	width: 543px;
	display: flex;
	
	align-items: center ;
	flex-direction: column;
	
}

.product-slider-text h2{
	
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.product-slider-text h5{
	margin-top: 23px;
    
    font-size: 18px;
    font-weight: 700;
    line-height: 48.02px;
    text-transform: uppercase;
    color: #e53935;
    letter-spacing: 1.8px;
}

.product-slider-text h3{
	margin-top: 36px;
    color: #212121;
    font-family: Gotham;
    font-weight: 100;
    line-height: 48.02px;
    font-size: 72px;

}
.symbols{
	font-size: 32px;
}

.product-slider-text a{
	margin-top: 31px;
	display: block;
	width: 510px;
    height: 71px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    text-decoration: none;
    text-align: center;
     line-height: 45px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 4.4px;
}

.product-slider-text a:hover{
	background: #f44336 url("img/arrow.png") no-repeat 350px 16px;
	opacity: 0.8
	}


.product-slider-text p{
	margin-top: 49px;
    width: 499px;
    height: 244px;
    color: #212121;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 300;
    line-height: 24.01px;
    /* Text style for "The majest" */
    letter-spacing: 0.4px;
}








/*******************SECTION RELATED PRODUCT****************/


.section-related-product{
	
}

.related-product-title{
	display: flex;
	justify-content: space-between;
}

.related-product-title a:hover{
	opacity: 0.8;
}
.related-product-details{
	margin-top: 120px;
	margin-bottom: 120px;
	margin-left: 100px;
}
.related-product-text{
	width: 309px;
	height: 27px;
    color: #212121;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
}
    

.related-products-gallery{
	flex-wrap: wrap;
	justify-content: center;
}

.btn-ghost3{
	margin-right: 118px;
}

.btn-ghost3{
	width: 158px;
    height: 13px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: #212121;
    letter-spacing: 1.6px;
    text-decoration: none;
}
.btn-ghost3:hover:after{
	content: url(img/arrow.png);
	padding-left: 12px;
}

.related-products-gallery{
	margin-top: 68px;
}

.related-products-pictures{
	width: 370px;
	height: 370px;
	display: flex;	
}

.related-products-pictures a:hover{
	opacity: 0.8;
}




/******************FILE CATALOG****************
******************FILE CATALOG****************
******************FILE CATALOG****************
******************FILE CATALOG****************
******************FILE CATALOG****************/

#header-top-line-catalog{
	background: #f5f5f5;
}


/*****SECTION PRODUCT RANGE***************/
.section-product-range{
	background: #f5f5f5;
	height: 268px;
}

.product-range-text{
	width: 650px;
	height: 58px;
	background: #f5f5f5;
	color: #212121;
    font-size: 62px;
    font-weight: 200;
    line-height: 72px;
	padding-left: 101px;
	padding-top: 168px;
}

.tab-control-catalog{
	margin-top: 71px;
	margin-left: 105px;
	border-bottom: 1px solid #6c6c6c;
}

.tab-control-catalog a:hover{
	opacity: 0.8;
	border-bottom: 3px solid #212121;
}

#all{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1.8px;
}

.tab-control-catalog .others{
    
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    margin-left: 31px;
    text-decoration: none;
    letter-spacing: 1.8px;
}

.section-renew{
	margin-top: 50px;
	margin-bottom: 140px;
	text-align: center
}

/***********************section-location******************/

.location-blocks{
	margin-top: 71px;
	margin-left: 98px;
	margin-right: 98px;
	margin-bottom: 122px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}

.location-block-description{
	text-align: center;
	border: 1px solid #9c9c9c;
	opacity: 0.9;
	cursor: pointer;
	width: 370px;
	height: 370px;
}

.location-block-description:hover{
	opacity: 0.7;
}

.logo-geo{
	margin-top: 48px;
}

.location-block-description h4{
   margin-top: 34px;
   margin-bottom: 23px;
   color: #212121;
   font-size: 22px;
   font-weight: 700;
   line-height: 29.88px;
   text-transform: uppercase;
}

.location-type-of-contact{
	margin-top: 10px;
	font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #6c6c6c;
}

.location-type-of-contact .location-type-of-contact-adress{
	font-weight: 300;
}
.location-type-of-contact .location-type-of-contact-text{
	color: #212121;
}













